@model SignalR.Models.Messages

<div class="container">
    <div class="row">
        <div class="col-3">Total Views:  </div>
        <div class="col-4">
            <span id="totalViewsCounter"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">Total Connections/Users:  </div>
        <div class="col-4">
            <span id="totalUsersCounter"></span>
        </div>
    </div>
    <div class="row">
        <div>
            <input asp-for="@Model.Message" id="message" class="form-control"/>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>